<style>

    #reward-container {
        padding: 10px 0;
        margin: 20px auto;
        width: 90%;
        text-align: center
    }

    #reward-button {
        cursor: pointer;
        border: 0;
        outline: 0;
        display: inline-block;
        vertical-align: text-top;
        margin: 0;
        padding: 0 15px;
        border-radius: 5px;
        height: 32px;
        line-height: 32px;
        font-size: 16px;
        color: #fff;
        background: #f44336;
        letter-spacing: normal;
        text-transform: none;
        text-indent: 0;
        text-shadow: none
    }

    #reward-button span:hover {
        background: #f7877f
    }

    #qr {
        padding-top: 20px
    }

    #qr a {
        border: 0
    }

    #qr img {
        width: 180px;
        max-width: 100%;
        display: inline-block;
        margin: .8em 2em 0;
    }

    #qr p {
        text-align: center
    }

    #qr > div:hover p {
        animation: roll .1s infinite linear
    }

    @-moz-keyframes roll {
        from {
            transform: rotateZ(30deg)
        }
        to {
            transform: rotateZ(-30deg)
        }
    }

    @-webkit-keyframes roll {
        from {
            transform: rotateZ(30deg)
        }
        to {
            transform: rotateZ(-30deg)
        }
    }

    @-o-keyframes roll {
        from {
            transform: rotateZ(30deg)
        }
        to {
            transform: rotateZ(-30deg)
        }
    }

    @keyframes roll {
        from {
            transform: rotateZ(30deg)
        }
        to {
            transform: rotateZ(-30deg)
        }
    }

</style>
<div>
    <div id="reward-container">
        <div style="padding-bottom: 10px">If this post is helpful to you, why not reward me?</div>
        <button id="reward-button" disable="enable"
                onclick="qr.style.display = (qr.style.display === 'none') ? 'block' : 'none';">
            Reward
        </button>
        <div id="qr" style="display: none;">
            <div style="display:inline-block">
                <img src="<%- theme.jsDelivr.url %><%- url_for(theme.reward.wechat) %>" class="reward-img"
                     alt="微信打赏二维码">
                <p>Wechat Pay</p>
            </div>
            <div style="display:inline-block">
                <img src="<%- theme.jsDelivr.url %><%- url_for(theme.reward.alipay) %>" class="reward-img"
                     alt="支付宝打赏二维码">
                <p>Alipay</p>
            </div>
        </div>
    </div>
</div>